:root
{
	--background: #3A3A3A;
	--grey: #545454;
	--button: #807FFF;
	--cos: #706FFF;
	--green: #4B4B4B;
	--red: #424242;
    --gl: #5cb85c;
    --fris: #7ddb7d;
    --frees: #56a156
}

body
{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background-color: var(--background);
	margin: 0 0 !important;
	padding: 0 0;
}

.wrapper
{
	width: 100%;
}

.header
{
	width: 100%;
	padding: 40px 0;
}

.logo
{
	width: 450px;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	margin-top: -15px;
	margin-bottom: 15px;
}

.nav
{
	width: 100%;
	padding: 10px 0;
	background-color: var(--grey);
	text-align: center;
	border-top: 3px solid #5cb85c;
	color: #fff;
}



.socials
{
	width: 100%;
	text-align: center;
	background-color: #292929;
}
.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.dc
{
	width:333.3px;
	height: 80px;
	float: left;
}

.dc:hover
{
	background-color: var(--cos);
}
.yt
{
	width:333.3px;
	height: 80px;
	float: left;
}

.yt:hover
{
	background-color: #d94348;
}

.tk
{
	width:333.3px;
	height: 80px;
	float: left;
}

.tk:hover
{
	background-color: var(--cos);
}

.footer
{
	text-align: center;
	background-color: #222222;
	padding: 30px;
	color: #fff;
	clear: both;
    position: relative;
    margin-top: -200px;
	margin-bottom: -10000000000px;
}

.author
{
	font-size: small;
	margin-top: 7px;
	margin-bottom: 0;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #fff;
	text-decoration: none;
	display: block;

}

ol > li
{
	float: left;
	width: 180px;
	height: 40px;
}

ol > li:hover
{
	background-color: #5cb85c;
	border-radius: 3px;
}

ol > li:hover > a
{
	border: 2px dashed var(--background);
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color: #7ddb7d;
	position: relative;
	z-index: 100;
	border-right: 2px dashed var(--green);
	border-left: 2px dashed var(--green);
	border-bottom: 2px dashed var(--green);
}

ol > li > ul > li:hover
{
	background-color: #56a156;
}

ol > li > ul > li :hover > a
{
	background-color: #56a156;
}

::selection
{
	background-color: #d94348;
}

.content
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
	color: #fff;
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 18px;
	background-color: var(--background);
}

.socialcontent
{
	width: 910px;
	margin-left: auto;
	margin-right: auto;
}

.dm
{
	width: 250px;
	height: 500px;
	float: left;
	border: 2px solid #fff;
	margin-right: 15px;
	border-radius: 10px;
	padding-inline: 20px;
}

.cel
{
	width: 250px;
	height: 500px;
	float: left;
	border: 2px solid #fff;
	margin-right: 15px;
	border-radius: 10px;
	padding-inline: 20px;
}

.host
{
	width: 250px;
	height: 500px;
	float: left;
	border: 2px solid #fff;
	border-radius: 10px;
	padding-inline: 20px;
}
